<h3><a href="#/collections/{{idm}}">Retour aux collections</a></h3><br>
<div ng-show="loading">Chargement...</div>
<div ng-hide="loading">

	<div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">
        	
			<h1>Objets</h1>
        </div>
        <div class="col-md-4">

            <!-- Blog Search Well -->
            <div class="well">
                Recherche<input type="text" ng-model="query" class="pull-right">
                    <!--<span class="input-group-btn">
                        <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                    </span>-->
            </div>
            <div class="well">
                <div>
                    Tri
                    <select ng-model="order" class="pull-right">
                        <option value="title">par nom</option>
                        <option value="registry">par numéro d'inventaire</option>
                    </select>
                </div>
                <!-- /.input-group -->
            </div>
        </div>



		<div dir-paginate="item in items | filter:{title:query} | orderBy:order | itemsPerPage:12" current-page="currentPage">
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <a href="#/item/{{idm}}/{{idc}}/{{item.id_item}}">
                        <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                    </a>
                    <div class="caption">
                            <a href="#/item/{{idm}}/{{idc}}/{{item.id_item}}">
                                <h3>{{item.title}}<br>
                                    <small>{{item.registry}}</small>
                                </h3>
                            </a>
                        <p>{{item.location}}</p>
                        <p>{{item.date}}</p>
                        <ul class="list-inline">
                            <li>
                                <button class="btn btn-default"><a href="#/exhibitionList/{{item.id_item}}">Ajouter à une exposition virtuelle</a></button>
                                <button type="button" class="btn btn-default" ng-click="favorite($parent.userInfos.id_user, item.id_item)">Ajouter aux favoris</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>			
		</div>		
    </div>
	<div class="other-controller">
        <div class="text-center">
            <dir-pagination-controls boundary-links="true" template-url="views/dirPagination.tpl.html"></dir-pagination-controls>
        </div>
	</div>
</div>
