<h3><a href="#/collections">Retour aux collections</a></h3><br>
<div ng-show="loading">Chargement...</div>
<div ng-hide="loading">

	<div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">
        	
			<h1>{{title}}</h1>
        </div>
        <div class="col-md-4">

            <!-- Blog Search Well -->
            <div class="well">
                Recherche<input type="text" ng-model="query" class="pull-right">
                    <!--<span class="input-group-btn">
                        <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                    </span>-->
            </div>
            <div class="well">
                <div>
                    Tri
                    <select ng-model="order" class="pull-right">
                        <option value="name">par nom</option>
                        <option value="object">par numéro d'inventaire</option>
                    </select>
                </div>
                <!-- /.input-group -->
            </div>
        </div>



		<div dir-paginate="object in objects | filter:{name:query} | orderBy:order | itemsPerPage:12" current-page="currentPage">
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <a href="#/object/{{idc}}/{{object.id}}">
                        <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                    </a>
                    <div class="caption">
                            <a href="#/object/{{idc}}/{{object.id}}">
                                <h3>{{object.name}}<br>
                                    <small>{{object.registry}}</small>
                                </h3>
                            </a>
                        <p>{{object.location}}</p>
                        <p>{{object.date}}</p>
                        <ul class="list-inline">
                            <li><a href=""><i class="fa fa-2x fa-plus"></i></a>
                            </li>
                            <li><a href=""><i class="fa fa-2x fa-share"></i></a>
                            </li>
                            <li>
                                <a  href="" ng-click="addFavorite(favorite.userId, favorite.itemId)"><i class="fa fa-2x fa-star"></i></a>
                                <button type="button" class="btn btn-default" ng-click="favorite($parent.userInfos.id_user, object.id)">Ajouter aux favoris</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>			
		</div>		
    </div>
	<div class="other-controller">
        <div class="text-center">
            <dir-pagination-controls boundary-links="true" template-url="views/dirPagination.tpl.html"></dir-pagination-controls>
        </div>
	</div>
</div>
