<div ng-show="loading">Chargement...</div>
<div ng-hide="loading">
    <form>
        <p>Adresse mail</p>
        <input type="text"/>
        <p>Mot de passe</p>
        <input type="text"/>
        <input type="submit" value="Valider"/>
    </form>
</div>
</div>