
<div class="container">

    <div class="row">
        <div class="col-lg-12">
            <h1>Mes expositions virtuelles ({{exhibition.length}})</h1>
            <a class="btn btn-primary" href="#/createExhibition">Nouvelle exposition</a></br></br>

            <div  ng-repeat="exhibit in exhibition">
                <div class="col-md-4 text-center">
                    <div class="thumbnail">
                        <div class="caption">
                            <a href="#/objectsInExhibition/mine/{{exhibit.id_exhibition}}">
                                <h3>{{exhibit.title}}</h3>
                            </a>
                            <p>{{exhibit.description}}</p>
                            <ul class="list-inline">
                                <li>
                                    <button type="button" class="btn btn-default" ng-click="deleteExhibition($parent.userInfos.id_user, exhibit.id_exhibition)">Supprimer exposition</button>
                                    <button class="btn btn-default"><a href="#/modifyExhibition/{{exhibit.id_exhibition}}">Modifier exposition</a></button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>