<h3><a href="#/">Retour aux collections</a></h3><br>
<div ng-show="loading">Chargement...</div>
<div ng-hide="loading">

	<div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">
        	
			<h1>{{title}}</h1>

			<div ng-repeat="object in objects | filter:{name:query} | orderBy:order">
			<p>
				<strong>
					{{object.name}}
				</strong>
				<br/>
				{{object.registry}} - 
				{{object.location}} - 
				{{object.date}}
			</p>
			</div>
		</div>
		<div class="col-md-4">

            <!-- Blog Search Well -->
            <div class="well">
                <h4>Recherche</h4>
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="query">
                    <!--<span class="input-group-btn">
                        <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                    </span>-->
                </div>
            </div>
            <div class="well">
                <div>
                	Tri
                	<select ng-model="order">
						<option value="name">par nom</option>
						<option value="object">par numéro d'inventaire</option>
					</select>
                </div>
                <!-- /.input-group -->
            </div>
        </div>
    </div>
</div>
